/* ======================================
	RESET
=========================================*/

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,
textarea,
select,
button {
  outline: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=search],
select,
textarea {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=search]:focus,
select:focus,
textarea:focus {
	border-color: #313131;
}
input[type=submit] {
	border: none;
	background-color: #007bb4;
	height: 35px;
	padding: 0 15px;
	margin-top: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;

	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
input[type=submit]:hover {
    opacity: 0.8;
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0.8);
}
input[type=submit]:focus {
	position: relative;
	top: 1px;
}

/* ======================================
	BASE
=========================================*/
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: 600;
}
p {
	font-family: 'Open Sans', sans-serif;
}

.cf {
  	zoom: 1;
}
.container {
	margin: 0 auto;
	width: 1200px;
	height: auto;
}
.container:after,
.cf:after {
	content: "";
	display: table;
	clear: both;
}
.container:before,
.cf:before {
	content: "";
	display: table;
	clear: both;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.row,
.row .row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}



/* Ícones */
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?63392971');
  src: url('../fonts/fontello.eot?63392971#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?63392971') format('woff'),
       url('../fonts/fontello.ttf?63392971') format('truetype'),
       url('../fonts/fontello.svg?63392971#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63392971#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
/*  width: 1em;*/
  margin-right: 10px;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
   /*font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-pinterest:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */
.icon-instagram:before { content: '\e809'; } /* '' */
.icon-arrow-left:before { content: '\e80a'; } /* '' */
.icon-arrow-right:before { content: '\e80b'; } /* '' */
.icon-paper-plane:before { content: '\e80c'; } /* '' */
.icon-money:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-loading:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-friends:before { content: '\e811'; } /* '' */
.icon-print:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-house:before { content: '\e815'; } /* '' */
.icon-ok:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\e817'; } /* '' */
.icon-phone:before { content: '\e818'; } /* '' */

/* ======================================
	HEADER
=========================================*/
#header {
	width: 100%;
	height: auto;
}

/* Top header */
.top-header {
	width: 100%;
	background-color: #000;
	line-height: 40px;
}
.top-header .contacts {
	float: left;
	font-size: 14px;
	color: #cecece;
}
.top-header .contacts i {
	font-size: 120%;
}
.top-header .contacts .email {
	margin-right: 30px;
}


.top-header .social-languages {
	float: right;
}
.top-header .social,
.top-header .languages {
	float: right;
}
.top-header .languages {
	margin-top: 4px;
}
.top-header .languages a {
	display: block;
	float: left;
	height: 35px;
	width: 35px;
	margin-right: 5px;
}
.top-header .social a {
	margin: 0 2px;
	color: #cecece;
}
.top-header .social a:hover,
.top-header .social a:active {
	opacity: 0.8;
}

/* Main header */
.main-header {
	height: 65px;
	border-bottom: 1px solid #ccc;
}
.main-header a.logo {
	display: block;
	float: left;
	height: 45px;
	margin: 10px 0;
}
.main-header a.logo img {
	display: block;
	width: auto;
	height: 45px;
}
.main-header a.logo span {
	display: block;
	width: auto;
	height: 45px;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}

.main-header nav.menu-navigation {
	float: right;
	line-height: 65px;
}
.main-header nav.menu-navigation li {
	display: inline-block;
}
.main-header nav.menu-navigation li a {
	display: block;
	height: 65px;
	padding: 0 15px;
	border-right: 1px solid #ccc;
	color: #000;
}
.main-header nav.menu-navigation li:first-child a {
	border-left: 1px solid #ccc;
}
.main-header nav.menu-navigation li a:hover {
	border-bottom: 2px solid #000;
}



/* ======================================
	FRONT-PAGE
=========================================*/

#front-page {
	margin-top: 10px;
}

#carousel {
	float: left;
	width: 60%;
	height: 373px;
	margin-right: 5%;
	position: relative;
}
#carousel .item-img {
	background-color: #f4f4f4;
	width: 100%;
	height: 373px;
	line-height: 373px;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
}
#carousel .nav-carousel {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -25px;
}
#carousel .nav-carousel > span {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #666;
	position: absolute;
	color: #fff;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#carousel .nav-carousel > span.c-previous {
	left: 30px;
}
#carousel .nav-carousel > span.c-next {
	right: 30px;
}
#carousel .nav-carousel > span i:before {
	margin: 4px 0 0 0;
}
#carousel .nav-carousel > span.c-next i:before {
	margin-left: 4px;
}

#advanced-search {
	width: 35%;
	float: right;
}

#advanced-search form {
	display: block;
	width: 100%;
	background-color: #000;
	padding: 30px 20px;
}
#advanced-search .left-side {
	float: left;
	width: 47%;
	margin-right: 3%;
}
#advanced-search .right-side {
	float: left;
	width: 47%;
	margin-left: 3%;
}
#advanced-search p {
	margin-bottom: 15px;
}
#advanced-search label {
	display: block;
	color: #fff;
	font-size: 12px;
	margin-bottom: 5px;
}
#advanced-search select {
	border: none;
	width: 100%;
	height: 35px;
	background: #ededed; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededed 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

#advanced-search input[type=button] {
	border: none;
	background-color: #007bb4;
	width: 100%;
	height: 35px;
	margin-top: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}


/* Filtro */
#filter {
	margin-top: 40px;
	width: 100%;
	line-height: 40px;
}
#filter .tit-filter {
	display: block;
	float: left;
	margin-right: 300px;
	width: 220px;
	height: 40px;
	border-right: 1px solid #ccc;
	position: relative;
}
#filter .tit-filter:before {
	content: "";
	display: block;
	width: 300px;
	height: 1px;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	right: -300px;
}
#filter .tit-filter:after {
	content: "";
	display: block;
	width: 1px;
	height: 40px;
	background-color: #ccc;
	position: absolute;
	top: 0;
	right: -301px;
}
#filter .tit-filter h3 {
	font-size: 25px;
	color: #4b565c;
	width: 230px;
}

#filter nav {
	display: block;
	float: left;
	height: 40px;
}
#filter nav a {
	display: block;
	float: left;
	height: 40px;
	padding: 0 15px;
	color: #000;
	font-size: 16px;
}
#filter nav a:hover,
#filter nav a.active {
	background-color: #e6eef1;
}

/* Lista de Imóveis */
.list-property {
	width: 100%;
	height: auto;
	margin: 40px 20px;
}

.property {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid #e0eaec;
}
.property .img img {
	display: block;
	width: 100%;
	height: auto;
}
.property .status-prop {
	width: 100%;
	border-top: 4px solid transparent;
}
.property .status-prop span {
	display: block;
	float: right;
	height: 35px;
	width: auto;
	padding: 0 10px;
	line-height: 35px;
	color: #fff;
	font-weight: bold;
}
.property .status-prop.forsale {
	border-top-color: #007bb4;
}
.property .status-prop.forsale span {
	background-color: #007bb4;
}

.property .status-prop.forrent {
	border-top-color: #ff4c35;
}
.property .status-prop.forrent span {
	background-color: #ff4c35;
}

.property .address {
	padding: 0 10px;
	margin-bottom: 20px;	
}
.property .address .street {
	padding: 20px 0 10px 0;
	font-size: 16px;
	color: #4b565c;
}
.property .address .city {
	font-size: 14px;
	color: #747f85;
}
.property .price {
	display: block;
	width: 130px;
	margin: 0 auto 20px auto;
	padding-top: 10px;
	border-top: 1px solid #e0e9ee;
	text-align: center;
	color: #007bb4;
}
.property .price i {
	font-size: 14px;
	width: 4px;
	display: inline-block;
	vertical-align: top;
}
.property .price .price-prop {
	font-size: 24px;
	font-weight: 600;
}

.property .info {
	background-color: #f2f8f8;
	border-top: 1px solid #e0eaec;
}
.property .info > div {
	display: block;
	float: left;
	height: 50px;
	width: 33.33333%;
	padding-top: 12px;
	border-left: 1px solid #e0eaec;
	text-align: center;
}
.property .info > div > i,
.property .info > div > span {
	display: inline-block;
	vertical-align: middle;
}
.property .info > div > i {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	height: 25px;
	margin-right: 4px;
}
.property .info .value {
	font-size: 16px;
	font-weight: bold;
	color: #747f85;
}
.property .info .foot-plan {
	border-left: none;
}
.property .info .foot-plan .icon-foot-plan {
	background-position: 0 0;
	width: 28px;
}
.property .info .beds .icon-beds {
	background-position: -39px -2px;
	width: 32px;
}
.property .info .bathroons .icon-bathroons {
	background-position: -79px 0;
	width: 27px;
}


/* ======================================
	FOOTER
=========================================*/
#footer {
	width: 100%;
}

/* Top footer */
.top-footer {
	width: 100%;
	background-color: #f7f7f7;
	border-top: 1px solid #e3e3e3;
	padding: 40px 0;
}

/* Widgets footer */
.top-footer .widget-title-footer {
	font-size: 13px;
	text-transform: uppercase;
	color: #313131;
	margin-bottom: 20px;
}

/* about-us*/
.about-us p {
	font-size: 13px;
	color: #313131;
	line-height: 18px;
}

/* Tags */
.tagcloud a {
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	padding: 10px 15px;
	background-color: #fcfcfc;
	border: 1px solid #e3e3e3;
	color: #313131;
	font-size: 12px;
	font-weight: bold;
}

/* Categorias */
.widget_categories ul li a {
	color: #017dbb;
	font-size: 13px;
}
.widget_categories ul li a:hover {
	text-decoration: underline;
}

/* Tópicos recentes */
.widget_recent_entries ul li a {
	color: #017dbb;
	font-size: 13px;
}
.widget_recent_entries ul li a:hover {
	text-decoration: underline;
}

/* Pesquisa no site */
.widget_search span {
	display: none;
}
.widget_search input[type=search] {
	height: 36px;
	padding-left: 10px;
}
.widget_search input[type=search]::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
}
.widget_search input[type=search]:-moz-placeholder { /* WebKit browsers */
    font-style: italic;
}
.widget_search input[type=search]::-moz-placeholder { /* WebKit browsers */
    font-style: italic;
}
.widget_search input[type=search]:-ms-input-placeholder { /* WebKit browsers */
    font-style: italic;
}
.widget_search input[type=submit] {
	float: right;
} 

/* Form contato */
.wpcf7 p {
	display: table;
	position: relative;
	margin-bottom: 10px;
}
.wpcf7 i {
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 10px;
	color: #c1c5c6;
}
.wpcf7 input[type=text]::-webkit-input-placeholder,
.wpcf7 input[type=email]::-webkit-input-placeholder,
.wpcf7 input[type=tel]::-webkit-input-placeholder,
.wpcf7 select::-webkit-input-placeholder,
.wpcf7 textarea::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
}
.wpcf7 input[type=text]:-moz-placeholder,
.wpcf7 input[type=email]:-moz-placeholder,
.wpcf7 input[type=tel]:-moz-placeholder,
.wpcf7 select:-moz-placeholder,
.wpcf7 textarea:-moz-placeholder { /* WebKit browsers */
    font-style: italic;
}
.wpcf7 input[type=text]::-moz-placeholder,
.wpcf7 input[type=email]::-moz-placeholder,
.wpcf7 input[type=tel]::-moz-placeholder,
.wpcf7 select::-moz-placeholder,
.wpcf7 textarea::-moz-placeholder { /* WebKit browsers */
    font-style: italic;
}
.wpcf7 input[type=text]:-ms-input-placeholder,
.wpcf7 input[type=email]:-ms-input-placeholder,
.wpcf7 input[type=tel]:-ms-input-placeholder,
.wpcf7 select:-ms-input-placeholder,
.wpcf7 select::-moz-placeholder { /* WebKit browsers */
    font-style: italic;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 input[type=tel],
.wpcf7 select {
	padding-left: 32px;
}
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 input[type=tel] {
	height: 36px;
}
.wpcf7 textarea {
	padding-top: 8px;
	text-indent: 31px;
	height: 100px;
}
.wpcf7 input[type=submit] {
	float: left;
	margin-top: 0;
}
.wpcf7 .ajax-loader {
	display: block;
	float: left;
	margin-right: 5px;
}
.wpcf7 .mailpoetsignup {
	display: block;
	float: left;
}
.wpcf7 .mailpoetsignup input[type="checkbox"] {
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	clear: none;
	cursor: pointer;
	outline: 0;
	display: inline-block;
	border: 1px solid #e3e3e3;
	background: #fff;
	margin: -2px 4px 0 0;
	width: 16px;
	height: 16px;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
}
.wpcf7 .mailpoetsignup input[type="checkbox"]:checked:before {
 	content     : '✓';
	display     : block;
	color       : #666;
	font-size   : 14px;
	line-height : 14px;
	text-shadow : 0 0 0.0714em #666;
	font-weight : bold;
}
.wpcf7 .mailpoetsignup + label {
	width: 155px;
	height: 10px;
	display: block;
	float: left;
	font-size: 12px;
	color: #313131;
	line-height: 18px;
	cursor: pointer;
}

/* Mensagens do formulário de contato */
.wpcf7 span[role="alert"] {
	font-size: 12px;
	margin-top: 3px;
}
.wpcf7 .wpcf7-validation-errors,
.wpcf7 div.wpcf7-mail-sent-ng {
	margin: 20px 0 0 0;
	padding: 5px 10px;
	border: 1px solid red;
	font-size: 12px;
	line-height: 16px;
}


/* Newsletter */
.widget_wysija .news-subtitle {
	font-size: 13px;
	color: #313131;
	line-height: 18px;
	margin-bottom: 10px;
}
.widget_wysija .wysija-paragraph {
	margin-bottom: 10px;
	position: relative;
}
.widget_wysija input[type=text] {
	height: 36px;
	padding-left: 10px;
}
.widget_wysija input[type=text]:focus {
	border-color: #313131;
}
.widget_wysija input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
}
.widget_wysija input[type=text]:-moz-placeholder { /* WebKit browsers */
    font-style: italic;
}
.widget_wysija input[type=text]::-moz-placeholder { /* WebKit browsers */
    font-style: italic;
}
.widget_wysija input[type=text]:-ms-input-placeholder { /* WebKit browsers */
    font-style: italic;
}

.widget_wysija .wysija-paragraph > label {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #313131;
	margin-bottom: 10px;
	padding-top: 10px;
	font-weight: bold;
}
.widget_wysija .wysija-paragraph .wysija-radio-label {
	text-transform: initial;
	margin-bottom: 10px;
	padding-top: 0px;
	font-weight: normal;
}
.widget_wysija .wysija-paragraph .wysija-radio-label input[type="radio"] {
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	clear: none;
	cursor: pointer;
	outline: 0;
	display: inline-block;
	border: 1px solid #e3e3e3;
	background: #fff;
	margin: -2px 6px 0 0;
	width: 16px;
	height: 16px;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
}
.widget_wysija .wysija-paragraph .wysija-radio-label input[type="radio"]:checked:before {
	content: "";
	display: block;
	margin: 2px 0 0 2px;
	width: 10px;
	height: 10px;
	background: #666;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/* Aviso erro newsletter*/

.formError {
	top: 41px !important;
	left: 15% !important;
}
.formError .formErrorContent:after{
	content: '';
	display: block;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ff4c35;
}
.formError .formErrorContent {
	left: 0;
	max-width: 200px;
	width: auto;
	height: auto;
	padding: 5px 8px;
	background: none repeat scroll 0 0 #ff4c35;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	border: none;
	font-family: 'Open Sans', sans-serif;
}
.wysija-msg {
	font-size: 12px;
	margin-bottom: 20px;
}
.wysija-msg .updated {
	margin: 20px 0 0 0;
	padding: 5px 10px;
	border: 1px solid #313131;
	font-size: 12px;
	line-height: 16px;
	background-color: transparent;
}
.wysija-msg .error,
.wysija-msg .xdetailed-errors {
	border: none;
}
/* Bot-footer */
.bot-footer {
	background-color: #212429;
	width: 100%;
	height: auto;
}
.bot-footer .social-footer {
	float: right;
	height: 60px;
	line-height: 60px;
}
.bot-footer a.email-corp {
	margin: 0 auto 10px auto;
	padding-left: 2px;
	width: 70%;
	text-align: center;
	font-size: 14px;
	line-height: 60px;
	color: #cecece;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.bot-footer a.email-corp:hover {
	opacity: 0.8;
}
.bot-footer .social-footer a {
	color: #cecece;
	font-size: 19px;
	margin: 0 3px;
}
.bot-footer .back-top {
	display: block;
	float: right;
	height: 45px;
	width: 45px;
	background-color: #59656f;
	font-size: 19px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	cursor: pointer;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.bot-footer address {
	margin: 0 auto 10px auto;
	width: 70%;
	text-align: center;
	font-size: 14px;
	color: #c1c7c7;
}
.bot-footer .copyright {
	width: 70%;
	margin: 0 auto 20px auto;
	text-align: center;
	font-size: 12px;
	color: #c1c7c7;
}


/* ---------------------------------*
	Language 
*----------------------------------*/

#lang_sel_list a, 
#lang_sel_list a:visited {
	background: transparent !important;
	line-height: 0 !important;
	padding-left: 0px !important;
}
#lang_sel_list img.iclflag {
	width: auto !important;
	height: auto !important;
}